# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QMake
.qmake.stash
src/*/Makefile
src/Makefile
src/object_script.Processing
moc_*
*.moc

# Others
*.log
*.swp
.nfs*
include/*.h
Makefile